<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <!--Import Google Icon Font-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <h1 class="display-4">Create Medical Passport</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            PATIENT DETAILS
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Full Name</label>
              <div class="col-sm-10">
                <input type="name" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Date of Birth</label>
              <div class="col-sm-10">
                <input type="dob" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div>
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                      checked>
                    <label class="form-check-label" for="gridRadios1">
                      Male
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                      Female
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            CONDITIONS
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Condition</label>
              <div class="col-sm-10">
                <select class="custom-select">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Condition</label>
              <div class="col-sm-10">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="text-muted">Additional Notes</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>
            </div>

            <center><button type="button" style="width:90%" class="btn btn-primary">ADD</button></center>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            ALLERGIES
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <form>
            <div class="form-group row">
              <div class="col-sm">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Allergy</label>
              </div>
              <div class="col-sm">
                <input type="name" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
              <div class="col-sm">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                  <label class="form-check-label" for="autoSizingCheck">
                    High Risk
                  </label>
                </div>
              </div>
            </div>


            <div class="form-group container-fluid">
              <div class="form-group">
                <label for="exampleFormControlTextarea1" class="text-muted">Additional Notes</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
          </form>
          <center><button type="button" style="width:90%" class="btn btn-primary">ADD</button></center>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFOUR" data-toggle="collapse" data-target="#collapseFOUR"
      aria-expanded="true" aria-controls="collapseFOUR">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" >
            MEDICATIONS
          </button>
        </h2>
      </div>

      <div id="collapseFOUR" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col">
                <label for="">Medication</label>
                <input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="col">
                <label for="">Dose</label>
                <input type="text" class="form-control" placeholder="Dose">
              </div>
            </div>
            <br>
            <div class="row container-fluid">
              <div class="col">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                <label class="form-check-label" for="autoSizingCheck">
                  Monday
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                <label class="form-check-label" for="autoSizingCheck">
                  Tuesday
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                <label class="form-check-label" for="autoSizingCheck">
                  Wednesday
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                <label class="form-check-label" for="autoSizingCheck">
                  Thursday
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                <label class="form-check-label" for="autoSizingCheck">
                  Friday
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                <label class="form-check-label" for="autoSizingCheck">
                  Saturday
                </label>
              </div>
              <div class="col">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                <label class="form-check-label" for="autoSizingCheck">
                  Sunday
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
        aria-controls="collapseFIVE">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button">
            IMMUNISATIONS
          </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <label for="">Add Immunisation</label>
              <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
              <label for="">Date</label>
              <input type="text" class="form-control" placeholder="DD/MM/YYYY">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix"
        aria-expanded="false" aria-controls="collapseThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button">
            SOCIAL HISTORY
          </button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <form>
            <h5>Functional Status</h5>
            <div class="row">
              <div class="col">
                <h6>Mobility</h6>
                <div class="row container-fluid ">
                  <div class="col">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                      checked>
                    <label class="form-check-label" for="gridRadios1">
                      Independent
                    </label>
                  </div>
                  <div class="col">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                      checked>
                    <label class="form-check-label" for="gridRadios1">
                      Walking Stick
                    </label>
                  </div>
                  <div class="col">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                      checked>
                    <label class="form-check-label" for="gridRadios1">
                      Frame
                    </label>
                  </div>
                  <div class="col">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                      checked>
                    <label class="form-check-label" for="gridRadios1">
                      Wheelchair
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <h6>Eating & Drinking</h6>
            <div class="col">
              <div class="row container-fluid ">
                <div class="col">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="gridRadios1">
                    Independent
                  </label>
                </div>
                <div class="col">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="gridRadios1">
                    Some Help
                  </label>
                </div>
                <div class="col">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="gridRadios1">
                    Dependent
                  </label>
                </div>
              </div>
            </div>

            <br>
            <h6>Dressing</h6>
            <div class="col">
              <div class="row container-fluid ">
                <div class="col">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="gridRadios1">
                    Independent
                  </label>
                </div>
                <div class="col">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="gridRadios1">
                    Some Help
                  </label>
                </div>
                <div class="col">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="gridRadios1">
                    Dependent
                  </label>
                </div>
              </div>
            </div>

            <br>
            <h6>Washing</h6>
            <div class="col">
              <div class="row container-fluid ">
                <div class="col">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="gridRadios1">
                    Independent
                  </label>
                </div>
                <div class="col">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="gridRadios1">
                    Some Help
                  </label>
                </div>
                <div class="col">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="gridRadios1">
                    Dependent
                  </label>
                </div>
              </div>
            </div>

            <br>
            <h6>Toileting</h6>
            <div class="col">
              <div class="row container-fluid ">
                <div class="col">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="gridRadios1">
                    Independent
                  </label>
                </div>
                <div class="col">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="gridRadios1">
                    Some Help
                  </label>
                </div>
                <div class="col">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                    checked>
                  <label class="form-check-label" for="gridRadios1">
                    Dependent
                  </label>
                </div>
              </div>
            </div>
        </div>

        <div class="col">

          <div class="form-group container-fluid">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Notes on functions and activies</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>

        <div class="col">

          <div class="form-group container-fluid">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Behaviour</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
  </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSeven"data-toggle="collapse" data-target="#collapseSeven"
    aria-expanded="true" aria-controls="collapseSeven">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button">
          CARE PLANS
        </button>
      </h2>
    </div>

    <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          <div class="form-group container-fluid">
              <div class="form-group">
                <label for="exampleFormControlTextarea1" class="text-muted">Care Plan</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
            </div>

            <div class="form-group container-fluid">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="text-muted">Plan Description</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>
      </div>
    </div>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>
